<html>
<head>
  <title>{{ title }}</title>
  <style>
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.1/dist/css/uikit.min.css" />
</head>
<body>
  <div class="uk-text-center uk-margin-medium-top">
    <h2 class="uk-heading-medium">Shopify Image Repo Challenge</h2>
    <div class="uk-flex uk-flex-wrap uk-flex-around uk-margin-top">
      <div>
        See this project on <a href="https://https://github.com/trevor-clarke/shopify-challenge">github</a>
      </div>
      <div>
        Filter by category:
        {% for category in categories%}
        <a href="{{ escape(category[1]) }}"> {{ escape(category[0])+"," }} </a>
        {% end %}
        <a href="/photos">all</a>
      </div>
      <div>
        Filter by ID:
        {% for id in ids%}
        <a href="{{ escape(id[1]) }}"> {{ escape(id[0])+"," }} </a>
        {% end %}
        <a href="/photos">all</a>
      </div>
      <div>
        Click on an image to see more details.
      </div>
    </div>
    <hr>
  </div>
  <div class="uk-container uk-margin-large-top">
    <div class="uk-flex uk-flex-wrap uk-flex-around">
      {% for image in images %}
      <div class="uk-padding uk-transition-toggle">
        <a href="/photo/{{ image[0] }}">
          <img class="uk-transition-scale-up uk-transition-opaque" src="{{ "/images/" + escape(image[3]) }}"  width="300px!important" height="300px!important" uk-img>
        </a>
      </div>
      {% end %}
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.1/dist/js/uikit-icons.min.js"></script>
</body>
</html>
