<html>
<head>
  <title>{{ title }}</title>
  <style>
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.1/dist/css/uikit.min.css" />
</head>
<body>
  <div class="uk-text-center uk-margin-medium-top">
    <h2 class="uk-heading-medium">Shopify Image Repo Challenge</h2>
    <div class="uk-flex uk-flex-wrap uk-flex-around">
      <div>
        See this project on <a href="https://https://github.com/trevor-clarke/shopify-challenge">github</a>
      </div>
      <div>
        View by category:
        {% for category in categories%}
        <a href="{{ escape(category[1]) }}"> {{ escape(category[0])+"," }} </a>
        {% end %}
        <a href="/photos">all images</a>
      </div>
      <div>
        Try click on an image to see it on it's own page.
      </div>
    </div>
  </div>
  <div class="uk-container uk-margin-large-top">
    <div class="uk-flex uk-flex-wrap uk-flex-around">
      <div></div>
      {% for image in images %}
      <div>
        <img src="{{ "/images/" + escape(image[3]) }}"  width="300px!important" height="300px!important" uk-img>
      </div>
      {% end %}
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.1/dist/js/uikit-icons.min.js"></script>
</body>
</html>
